@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Raleway, sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

/* nav */

#wrap {
    width: 100%;
    height: 70px;
    margin: 0;
    z-index: 99;
    position: fixed;
    background-color: rgb(184, 70, 172);
  }
  
  .navbar {
    height: inherit;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  
  .navbar li {
    height: inherit;
    width: 135.8px;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(184, 70, 172);
  }
  
  .navbar a {
    padding: 25px 0;
    border-left: 1px solid whitesmoke;
    text-decoration: none;
    color: whitesmoke;
    display: block;
  }
  
  .navbar li:hover, a:hover {
    background-color: rgb(219, 130, 182);
  }
  
  .navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }
  
  .navbar li:hover ul {
    display: block;
    height: inherit;
  }
  
  .navbar li ul li {
    background-color: rgb(184, 70, 172);
  }
  
  .navbar li ul li a {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
  }
  
  .navbar li ul li a:hover {
    background-color: rgb(219, 130, 182);
  }

  .active {
    background-color: rgb(219, 130, 182);
  }

  /* logo */

#logo {
  float: right;
  width: 70px;
  height: 100%;
  margin-right: 5px;
  }

  /* hero image and text */

  #hero-outer{
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 70px;
  }

  #hero-image{
    height:inherit;
    width: 100%;
    background: url(../images/balloons.jpg) center center / cover no-repeat fixed;
  }
  
    #cover-text{
    letter-spacing: 3px;
    color: rgb(184, 70, 172);
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
  }

  #cover-text h3 {
    font-size: 100px;
    font-weight: 600;
  }

  #cover-text h1 {
    font-size: 150px;
    font-weight: 750;
  }

   /* about us section */

  #about-us{
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 75px 0;
  }

  #about-image {
    height: 700px;
    width: 90%;
    background: url(../images/about-us-bg.jpg) center center / cover no-repeat;
    position: absolute;
    left: 5%;
  }

  #about-text {
    letter-spacing: 3px;
    background-color: rgba(184, 70, 173, 0.5);
    color: whitesmoke;
    margin: 0 auto;
    padding-top: 50px;
    margin-top: 100px;
    text-align: center;
    width: 70%;
    left: 15%;
  }

  #about-us h1 {
    font-size: 45px;
  }

  #about-us p {
    font-size: 25px;
  }

  /* visit our shop section */

  #visit-shop {
    height: 490px;
  }

  .text-center {
    text-align: center;
  }

  .left-about {
    float: left;
    width: 35%;
    border: 2px solid  rgb(184, 70, 172);
    color:  rgb(184, 70, 172);
    margin-left: 2%;
    padding: 6.3% 0;
  }

  .right-about {
    float: right;
    width: 60%;
    margin-right: 1%;
  }

  #open-times{
    margin: 0 auto;
  }

  #open-times th {
    font-family: 'Dancing Script', cursive;
  }

  #visit-shop h1{
    font-size: 45px;
    text-align: center;
    background-color: rgb(184, 70, 172);
    color: whitesmoke;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  
  #visit-shop h3{
    font-size: 30px;
  }

  .left-about th{
    font-size: 25px;
  }

  .left-about td, .left-about p {
    font-weight: 600;
  }

  /* Footer */

  footer{
    height: 70px;
    background-color: rgb(184, 70, 173);
    color:whitesmoke;
  }

  footer li {
    display: inline;
    margin-top: 15px;
  }

  footer > ul {
    text-align: center;
    font-size: 30px;
  }

  #float-left{
    float: left;
    margin-left: 15px;
    font-family: 'Dancing Script', cursive;
  }

  #float-right{
    float: right;
    margin-right: 15px;
    font-size: 40px;
  }

  footer li i,footer li a {
    color:whitesmoke;
  }

  /* decoration pages */
  
  /* picture example */

  .picture-example{
   padding-top: 90px;
  }

  .picture-example img {
   width: 49%;
   height: 700px;
  }

  .picture-example h1 {
    font-size: 60px;
    letter-spacing: 3px;
    text-align: center;
    color: rgb(184, 70, 172);
    border-top: solid 3px rgb(184, 70, 172);
    border-bottom: solid 3px rgb(184, 70, 172);
  }

  /* decoration info */

  .decoration-info {
    width: 600px;
    height: 600px;
    background-color:rgb(184, 70, 172);
    border-radius: 50%;
    margin: 3% 32%;
  }

  .decoration-info > p {
    font-size: 25px;
    width: 75%;
    text-align: center;
    color:whitesmoke;
    letter-spacing: 3px;
    margin: 0 auto;
    padding: 21% 0;
  }

  /* form */

  .form {
    width: 700px;
    padding: 25px;
    border-radius: 5px;
    margin: 25px auto;
    background-color: whitesmoke;
    border: 5px solid rgb(184, 70, 172);
  }

  input[type=text], input[type=email], input[type=date], input[type=time], input[type=number]{
    display: block;
    background-color: rgba(184, 70, 173, 0.8);
    width: 40%;
    height: 25px;
    color:whitesmoke;
  }

  input[type=submit] {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: rgb(184, 70, 172);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
  }
 
  textarea{
    max-width: 60%;
    background-color: rgba(184, 70, 173, 0.8);
    color: whitesmoke;
  }

  label {
    color:rgb(184, 70, 172);
    font-weight: 500;
    letter-spacing: 3px;
    display: block;
  }

  legend{
    color:rgb(184, 70, 172);
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 30px;
  }

  input[type=submit]:hover{
    border:1px solid rgb(184, 70, 172);
    color:rgb(184, 70, 172);
    background-color: whitesmoke;
  }
  
  input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin-right: 10px;
}

/* wedding page */

#wedding-info {
  margin: 100px 250px;
  padding: 50px; 
  color: rgb(184, 70, 172);
  border: 5px solid rgb(184, 70, 172);
  border-radius: 5px;
  text-align: center;
  font-size: 200%;
  letter-spacing: 3px;
}

/* contact.html */

#filled-form {
  height: 651px;
  width: 100%;
  background: url(../images/pink-balloons.jpg) center center no-repeat;
}

.filled-background-color {
  height:inherit;
  background-color: rgba(184, 70, 173, 0.35);
}

#filled-form h2 {
  font-size: 200%;
  font-family: 'Dancing Script', cursive;
  color: whitesmoke;
  text-align: center;
  font-size: 100px;
  padding-top: 50px;
}

#filled-form p {
  color:whitesmoke;
  text-align: center;
  padding: 25px 0;
  font-size: 50px;
}

em {
  font-size: 25px;
}

#filled-form a {
  color:rgb(184, 70, 172);
  text-decoration: none;
  background-color: whitesmoke;
  border: 1px solid rgb(184, 70, 172);
  border-radius: 5px;
  margin-left: 40%;
  margin-top: 25px;
  padding: 1%;
  font-size: 25px;
}

/* webshop */

#webshop {
  height: 651px;
  width: 100%;
  background: url(../images/pink-balloons.jpg) center center no-repeat;
}

#webshop h1 {
  font-size: 200%;
  font-family: 'Dancing Script', cursive;
  color: whitesmoke;
  text-align: center;
  font-size: 100px;
  padding-top: 15%;
}

